<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
     .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem;
        }
</style>
<body>
  <footer class="footer">
    Jiten Shreshtha/8980448
</footer>
</body>
</html>